body {
    font-family: "Poppins", Arial, sans-serif;
    background-image: url('https://i.imgur.com/x8QaHGk.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
}

.profilePic {
    width: 400px;
    height: 500px;
}

.aboutTitle {
    position: absolute;
    font-size: 10rem;
    font-weight: 700;
    opacity: 0.5;
    color: #737373;
    text-transform: uppercase;
    margin: 0;
    padding-left: 1rem;
    user-select: none;
}

.aboutMeName {
    letter-spacing: 1px;
    padding: 5rem;
    margin-bottom: 3rem;
    color: #A6A6A6;
}

.aboutMe {
    font-size: 18px;
    line-height: 1.8;
    padding: 5rem;
    padding-top: 0;
    padding-bottom: 1rem;
}

.aboutMeInfo {
    width: 65%;
    color: #A6A6A6;
}

.contact {
    font-size: 18px;
    line-height: 1.8;
    padding: 5rem;
    padding-top: 0;
    padding-bottom: 0;
}

.contactInfo {
    font-size: 18px;
    line-height: 1.8;
    padding: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 1400px) {
    .aboutMeInfo {
        width: 100%
    }
}
@media screen and (max-width: 1155px) {
    .aboutTitle {
        font-size: 7rem;
        transform: translateY(25px)
    }
    .profilePic {
        width: 350px;
        height: 450px;
    }
}

@media screen and (max-width: 815px) {
    .aboutTitle {
        visibility: hidden;
    }
    .aboutMeName {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 450px){
    .profilePic {
        width: 100%;
        height: 450px;
    }

    .aboutTitle {
        font-size: 0;
    }

    .aboutMeName {
        padding: 0;
    }

    .aboutMe {
        padding: 1.5rem;
    }

    .aboutMeInfo {
        text-align: center;
    }

    .resume {
        padding: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
    }

    .contact {
        display: flex;
        justify-content: center;
    }

    .contactInfo {
        padding: 1.5rem;
        padding-top: 0;
        padding-bottom: 0;
        display: flex;
        justify-content: center;
    }
}